.search-container {
    max-width: 1000px;
    margin: 0 auto;
}

body {

    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Pokemon', sans-serif;

}

.text-center {
    color: #e0d349;
    text-shadow: 2px 2px rgb(104, 177, 237);
}

.btn {
    background-color: rgb(32, 207, 242);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.card-container {
    display: flex;
    border: 1px solid #4cc7f4;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(237, 35, 35, 0.1);
}

#imagen_pokemon,
#ficha_tecnica {
    flex: 1;
    padding: 20px;
}
.blue-box {
background-color: #3498db; 
padding: 10px;
margin-bottom: 10px; 
border-radius: 5px;
}

.blue-box p {
margin: 0; 
color: #fff; 
}